<div class="row" >
  <div class="col-sm-2 col-sm-offset-10">
    <a [routerLink]="['/']" class="btn btn-primary">Logout</a>
  </div>
</div>
<div class="row" >
  <div class="col-sm-2" >
    Welcome
  </div>
  <div class="col-sm-2" >
    {{currentUser.userName}}
  </div>
</div>
<!--<section *ngIf="editedPolicy">
  Policy Number {{editedPolicy.policyNumber}} {{editedPolicy.policyUpdateMsg}}
</section>-->

<app-all-policies (policyEdited)="policyEdited($event)"></app-all-policies>

<div *ngIf="currentUser.role==='user'" >
  <app-user-policies></app-user-policies>
</div>

<app-modal #modal>
  <div class="app-modal-body">
    <section *ngIf="editedPolicy">
      <h3>{{editedPolicy.policyName}}</h3>
      {{editedPolicy.policyUpdateMsg}}
    </section>
  </div><div class="app-modal-footer">
  <button type="button" class="btn btn-primary" (click)="modal.hide()">Ok</button>
</div>
</app-modal>

